/* Основні стилі */
body {
	background-color: #fff;
	color: #000;
}

.wrapper {
	overflow: clip;
	min-height: 100%;
}

[class*="__container"] {
	max-width: 1500px;
	margin: 0 auto;
	padding-left: 10px;
	padding-right: 10px;
}

/*==carts==================================*/
.carts {
	padding-top: 50px;
}

.card {
	width: 248px;
	height: 339px;
	border-radius: 8px;
	border: 1px solid #E6E6E6;
	background: #FFF;
	overflow: hidden;
	margin: 0 auto;
}

.card:hover {
	box-shadow: 0px 0px 12px 0px rgba(32, 181, 38, 0.32);
	border: 1px solid #2C742F;
}

/* .card__img */
.card__img {
	width: 100%;
	max-height: 246px;
	position: relative;
}

.card:hover .card__icons {
	display: block;
}

.card__icons {
	display: none;
	width: 40px;
	height: 86px;
	position: absolute;
	top: 16px;
	right: 16px;
}


.card__icon {
	width: 40px;
	height: 40px;
	text-align: center;
	align-content: center;
	background-color: #F2F2F2;
	border-radius: 50%;
}

.card__icon:first-child {
	margin-bottom: 6px;
}

.card__icon:hover {
	background-color: #00B207;
}

/* .card__botom */
.card__botom {
	display: flex;
	padding: 12px 16px 16px 16px;
	justify-content: space-between;
	align-items: center;
}

/* .card__left */
.card__left {}

/* .card__title */
.card__title {
	font-size: 14px;
	font-weight: 400;
	line-height: 150%;
	color: #4d4d4d;
}

/* .card__price */
.card__price {
	color: #1A1A1A;
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: 150%;
}

/* .card__rating */
.card__rating {}

/* .card__right */
.card__right {}

/* .card__bag */
.card__bag {
	display: flex;
	background-color: #F2F2F2;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	justify-content: center;
	align-items: center;
}

.card__bag img {
	max-width: 20px;
}

.card__bag:hover {
	background-color: #00B207;
}

/*==platform==================================*/
.platform {
	background-image: url(../img/bag-blue.svg);
	background-repeat: no-repeat;
	margin: 200px 0;
	color: #fff;
}

.platform__top {
	position: relative;
	display: flex;
	align-items: center;
	margin-left: 128px;
	padding-bottom: 55px;
}


.platform__img {
	width: 430px;
	height: 548px;
	border-radius: 20px;
	overflow: hidden;
	box-shadow: -25px 20px 44px 0px rgba(84, 48, 209, 0.40);
	background-color: #FFF;
	position: relative;
	z-index: 2;
}


.platform__img img {
	max-width: 100%;
	object-fit: cover;
	height: 100%;
}

.platform__img-top {
	margin-top: -41px;
}

.platform__top-ellipse {

	position: absolute;
	top: 132px;
	left: -129px;
	width: 65px;
	height: 65px;
	background-image: url(../img/ellipse.svg);
	background-repeat: no-repeat;
	background-size: cover;
	z-index: 1;
}

.platform__top-ellipse-big {
	width: 401px;
	height: 401px;
	flex-shrink: 0;
	border-radius: 50%;
	border: 5px solid #FFBA49;
	position: absolute;
	bottom: -9px;
	left: -110px;
	z-index: 1;
}

.platform__top-dotted {
	position: absolute;
	top: 380px;
	left: -95px;
	width: 213.764px;
	height: 472.16px;
	background-image: url(../img/dotted.svg);
	background-repeat: no-repeat;
	background-size: cover;
	z-index: 1;
}

/* .platform__inner */
.platform__inner {
	max-width: 602px;

	display: flex;
	flex-direction: column;
}

.platform__inner-top {
	margin-top: 50px;
	margin-left: 70px;
}

.platform__inner-bottom {
	max-width: 488px;
	margin-right: 69px;
	margin-top: 30px;
}

/* .platform__title */
.platform__title {
	margin-bottom: 20px;
}

/* .platform__text */
.platform__text {
	max-width: 437px;
	margin-bottom: 39px;
}

/* .platform__button */
.platform__button {}

/* .platform__bottom */
.platform__bottom {
	display: flex;
	margin-right: 130px;
	justify-content: flex-end;
	position: relative;
}

.platform__img-bottom {
	box-shadow: 22px 42px 44px 0px rgba(0, 0, 0, 0.30);
}

.platform__bottom-ellipse {
	position: absolute;
	top: -48px;
	right: 273px;
	width: 65px;
	height: 65px;
	background-image: url("../img/ellipse.svg");
	background-repeat: no-repeat;
	background-size: cover;
	z-index: 3;
}

.platform__bottom-ellipse--big {
	width: 262px;
	height: 262px;
	border-radius: 50%;
	border: 5px solid #FFBA49;
	position: absolute;
	top: -26px;
	right: -129px;
}

.platform__bottom-dotted {
	position: absolute;
	top: 65px;
	right: -305px;
	width: 213.764px;
	height: 472.16px;
	transform: rotate(-90deg);
	background-image: url("../img/bottom_point_group.svg");
	background-repeat: no-repeat;
	z-index: 1;
}

.title {
	font-size: 36px;
	font-weight: 700;
}

.text {
	font-size: 18px;
	font-weight: 400;
	line-height: 166.667%;
}

.button {
	font-size: 18px;
	font-weight: 500;
	border-radius: 60px;
	background: #F35B09;
	width: 256px;
	padding: 22px 26px;
	display: inline-block;
	text-align: center;
}

/*==footer==================================*/
.footer {
	height: 100px;

}